<div class="page-wrapper">
  <div class="top-actions">
    <h1>Edit Movie</h1>
    <%= link_to "← Back", movie_path(@movie), class: "btn-outline" %>
  </div>

  <%= render "form", movie: @movie %>
</div>
