<div class="page-wrapper">
  <div class="top-actions">
    <h1>Movies</h1>
    <% if user_signed_in? %>
      <%= link_to "+ Add Movie", new_movie_path,
          class: "new-item-link",
          data: { turbo_frame: "modal-content" } %>
    <% end %>
  </div>

  <hr>

  <%= render "movies_list" %>
</div>
