<div class="page-wrapper">
  <div class="top-actions">
    <h1>Add New Movie</h1>
    <%= link_to "← Back to Movies", movies_path, class: "btn-outline" %>
  </div>

  <%= render "form", movie: @movie %>
</div>
