<div class="page-wrapper">
  <div class="top-actions">
    <h1>Edit Recipe</h1>
    <%= link_to "← Back", recipe_path(@recipe), class: "btn-outline" %>
  </div>

  <%= render "form", recipe: @recipe %>
</div>
