<div class="page-wrapper">
  <div class="top-actions">
    <h1>Add New Recipe</h1>
    <%= link_to "← Back to Recipes", recipes_path, class: "btn-outline" %>
  </div>

  <%= render "form", recipe: @recipe %>
</div>
