<div class="categories-container">
  <%= link_to movies_path, class: "category-circle" do %>
    Фильмы
  <% end %>

  <%= link_to books_path, class: "category-circle" do %>
    Книги
  <% end %>

  <%= link_to recipes_path, class: "category-circle" do %>
    Рецепты
  <% end %>
</div>

