<div class="categories-container">
  <%= link_to movies_path, class: "category-circle" do %>
    Movies
  <% end %>

  <%= link_to books_path, class: "category-circle" do %>
    Books
  <% end %>

  <%= link_to recipes_path, class: "category-circle" do %>
    Recipes
  <% end %>
</div>

